import { FC } from 'react'

interface {{name}}Props {
// Add your props here
}

export const {{name}}: FC<{{name}}Props> = (props) => {
  return (
  <div>
    {/* Add your component content here */}
  </div>
  )
  }